GROQ_API_KEY="<your_api_key>"

LANGSMITH_PROJECT="<project_name>"
LANGSMITH_ENDPOINT='https://api.smith.langchain.com'
LANGSMITH_TRACING_V2=true
LANGSMITH_API_KEY='<your_api_key>'

GOOGLE_API_KEY="<your_api_key>"